*{
.h2{height:70%;}
.h3{height:55%;}
.h4{height:90%;}
.h5{height:60%;}
.h6{height:80%;}
.h7{height:45%;}

.resultsWrap{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.resultBall{
width:70px;
height:70px;
border-radius:50%;
background:linear-gradient(to right,#06b6d4,#2563eb);
display:flex;
align-items:center;
justify-content:center;
font-size:24px;
font-weight:900;
}

.tableCard table{
width:100%;
border-collapse:collapse;
}

.tableCard th,
.tableCard td{
padding:18px;
text-align:left;
border-bottom:1px solid rgba(255,255,255,0.08);
}

.green{
color:#00ff88;
}

.red{
color:#ff4d6d;
}

.yellow{
color:#ffcc00;
}

@media(max-width:900px){
.sidebar{
display:none;
}

.contentGrid{
grid-template-columns:1fr;
}

.topBar{
flex-direction:column;
align-items:flex-start;
gap:20px;
}
}
